body{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  min-width: 250px;
}

.nav-bar{
  background-color: #2b2b2b;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

/*left nav bar */
.left-nav{
  align-items: flex-end;
  display: flex;
  margin-bottom: 1rem;
}

.left-button{
  padding: 10px;
  margin: 5px;
 
}


/*right nav-bar */
.right-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.win-button{
  font-size: 2rem;
}

.username-button{
  color: #2980ad;
}

.shares{
  font-size: 2rem;
  padding: 16px;
}


/*bottom card display area*/
.card-display-area{
  background-color: #efefef;
  height: 1000px;
  margin-top: 170px;
  padding: 0;
  width: 100%;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(4, minmax(300px, 400px));*/
  grid-template-rows: 400px 400px;
  grid-gap: 10px;
  margin: 20px;
  /*height: 66%;*/
}

.cards{
  border: solid black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1.78fr;
  box-shadow: 3px 0 3px #bababa;
}

.card-top{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  background-size: cover;
  background-position: center;
}

.round-arrow{
  font-size: 3rem;
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.card-top1{
  background-image: URL("pics/pug.jpg");
}

.card-top2{
  background-image: URL("pics/pup2.jpg");
}
.card-top3{
  background-image: URL("pics/pup3.jpg");
}
.card-top4{
  background-image: URL("pics/pup4.jpg");
}
.card-top5{
  background-image: URL("pics/pup5.jpg");
}
.card-top6{
  background-image: URL("pics/pup6.jpg");
}
.card-top7{
  background-image: URL("pics/pup7.jpg");
}
.card-top8{
  background-image: URL("pics/pup8.jpg");
}



.card-bottom-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1.2fr;
  padding: 8px;
  padding-left: 16px;
}

.link{
  background-color: #efefef;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  word-wrap: break-word;
  /*width: 80%;*/

}

.attachment-number{
  color: blue;
}

@media screen and (max-width: 750px){
  .card-container{
    /*grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    /*justify-content: space-between;*/
    font-size: .8rem;
  }
  .left-button{
    font-size: 14px;
  }
  .right-nav{
    font-size: 13px;
    padding-left: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    
   margin-top: 0px;
  }
  .nav-bar{
    display: grid;
    height: 26%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    /*overflow: unset;*/
    position: unset;
    
  }
  .left-nav{
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .left-button{
    margin: 0;
    padding: 1rem;
    font-size: .9rem;
  }
  .right-nav{
    flex-direction: row;
    /*align-items: center;
    padding: .6rem;
    margin: 0;
    width: 100%;*/
  }
  .win-button{
    font-size: 1rem;
  }
  .shares{
    font-size: 1.4rem;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .card-display-area{
    margin-top: 0;
    font-size: .7rem;
    height: 100%;
  }
  .card-bottom-container{
    padding: .2rem;
  }
}


