body{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.nav-bar{
  background-color: #2b2b2b;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

/*left nav bar */
.left-nav{
  align-items: flex-end;
  display: flex;
  margin-bottom: 1rem;
}

.left-button{
  padding: 10px;
  margin: 5px;
 
}


/*right nav-bar */
.right-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.win-button{
  font-size: 2rem;
}

.username-button{
  color: #2980ad;
}

.shares{
  font-size: 2rem;
  padding: 16px;
}


/*bottom card display area*/
.card-display-area{
  margin-top: 170px;
  padding: 0;
  background-color: #efefef;
  height: 1000px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(4, minmax(300px, 400px));*/
  grid-template-rows: 400px 400px;
  grid-gap: 10px;
  margin: 20px;
  /*height: 66%;*/
}

.cards{
  border: solid black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1.78fr;
}

.card-top{
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.top1{
  background-image: URL("pics/pug.jpg");
  background-size: cover;
}

.pug{
  height: 50%;
}


@media screen and (max-width: 600px){

}